@font-face {
	font-family: "fir";
	src: url("fonts/fir.eot?#iefix") format("embedded-opentype"),
		url("fonts/fir.woff2") format("woff2"),
		url("fonts/fir.woff") format("woff"),
		url("fonts/fir.ttf") format("truetype"),
		url("fonts/fir.svg#fir") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "zal";
	src:
		url('fonts/zal.eot?#iefix') format('embedded-opentype'),
		url('fonts/zal.woff2') format('woff2'),
		url('fonts/zal.woff') format('woff'),
		url('fonts/zal.ttf') format('truetype'),
		url('fonts/zal.svg#zal') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
 font-family:cqwn;
 src:url(https://use.typekit.net/af/fe55d7/00000000000000000001588f/27/l?subset_id=1&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/fe55d7/00000000000000000001588f/27/d?subset_id=1&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/fe55d7/00000000000000000001588f/27/a?subset_id=1&fvd=n3&v=3) format("opentype");
 font-weight:300;
 font-style:normal;
}
@font-face {
 font-family:cqwn;
 src:url(https://use.typekit.net/af/3ad2da/000000000000000000015891/27/l?subset_id=1&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/3ad2da/000000000000000000015891/27/d?subset_id=1&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/3ad2da/000000000000000000015891/27/a?subset_id=1&fvd=n4&v=3) format("opentype");
 font-weight:400;
 font-style:normal;
}
@font-face {
 font-family:rvhs;
 src:url(https://use.typekit.net/af/240ef3/00000000000000000000dfee/27/l?subset_id=1&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/240ef3/00000000000000000000dfee/27/d?subset_id=1&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/240ef3/00000000000000000000dfee/27/a?subset_id=1&fvd=n4&v=3) format("opentype");
 font-weight:400;
 font-style:normal;
}
@font-face {
 font-family:rvhs;
 src:url(https://use.typekit.net/af/fe09ce/00000000000000000000dff0/27/l?subset_id=1&fvd=n2&v=3) format("woff2"),url(https://use.typekit.net/af/fe09ce/00000000000000000000dff0/27/d?subset_id=1&fvd=n2&v=3) format("woff"),url(https://use.typekit.net/af/fe09ce/00000000000000000000dff0/27/a?subset_id=1&fvd=n2&v=3) format("opentype");
 font-weight:200;
 font-style:normal;
}
@font-face {
 font-family:rvhs;
 src:url(https://use.typekit.net/af/18514c/00000000000000000000dfef/27/l?subset_id=1&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/18514c/00000000000000000000dfef/27/d?subset_id=1&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/18514c/00000000000000000000dfef/27/a?subset_id=1&fvd=n3&v=3) format("opentype");
 font-weight:300;
 font-style:normal;
}
@font-face {
 font-family:bxgc;
 src:url(https://use.typekit.net/af/b90893/000000000000000000013319/27/l?subset_id=1&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/b90893/000000000000000000013319/27/d?subset_id=1&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/b90893/000000000000000000013319/27/a?subset_id=1&fvd=n4&v=3) format("opentype");
 font-weight:400;
 font-style:normal;
}
@font-face {
 font-family:bxgc;
 src:url(https://use.typekit.net/af/aab156/000000000000000000013315/27/l?subset_id=1&fvd=n2&v=3) format("woff2"),url(https://use.typekit.net/af/aab156/000000000000000000013315/27/d?subset_id=1&fvd=n2&v=3) format("woff"),url(https://use.typekit.net/af/aab156/000000000000000000013315/27/a?subset_id=1&fvd=n2&v=3) format("opentype");
 font-weight:200;
 font-style:normal;
