@font-face {
	font-family: "fir";
	src: url("fonts/fir.eot?#iefix") format("embedded-opentype"),
		url("fonts/fir.woff2") format("woff2"),
		url("fonts/fir.woff") format("woff"),
		url("fonts/fir.ttf") format("truetype"),
		url("fonts/fir.svg#fir") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "zal";
	src:
		url('fonts/zal.eot?#iefix') format('embedded-opentype'),
		url('fonts/zal.woff2') format('woff2'),
		url('fonts/zal.woff') format('woff'),
		url('fonts/zal.ttf') format('truetype'),
		url('fonts/zal.svg#zal') format('svg');
	font-style: normal;
	font-weight: normal;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

p {
	margin: 0;
	margin-bottom: 1em;
	color: white;
	padding-top: 10px;
}
h2 {
	margin-top: 0;
	padding: 2em;
}
body {
  position: relative;
  font-family:'cqwn';
 background-color:  #343a40 !important;
  line-height:1.5;
    -webkit-overflow-scrolling: touch;	
}

.zal, h3{
    font-family: 'zal';
}

.zalh{
    font-family: 'rvhs';
}

.bold{
    font-weight: 600;
}

.reg{
    font-family: 'fir';
}

.tjust{
    text-justify: auto;
}

@media (max-width:600px){
    .textrl{
        font-size: small;
    }
}

@media (min-width: 601px){
    .textrl{
        font-size: large;
    }
}

.carousel .item {   
    max-width: 100vw;
}

.img-fluid{
    max-width: none !important;
    margin-right: 30%;
}

.carousel-inner img {
height: 100vh;
object-fit: cover;
overflow: hidden;
}

.carousel-caption h3 {
    color: #fff !important;  
}

.carousel-caption {
    top: 40%;
}

.vh50{
    height: 50vh;
}

.vh48{
    height: 48vh;
}

.border-bracket-left{
border-top: medium solid white;
border-left: medium solid white;
border-bottom: medium solid white;
}

.border-bracket-right{
border-top: medium solid white;
border-right: medium solid white;
border-bottom: medium solid white;
}

.border-bracket-bottom{
border-left: medium solid white;
border-right: medium solid white;
border-bottom: medium solid white;
}

.border-bracket-top{
border-top: medium solid white;
border-left: medium solid white;
border-right: medium solid white;
}

.container {
	max-width: 95%;
    max-height: 95%;
	padding: 5% 5%;
    text-align: center;
}

#page-1 {
	background: #FFD86D;
	height: 100vh;
}
#page-2 {
	background: #FFD86D;
	height: 100vh;
}
#page-3 {
	background: #FFD86D;
    height: 100vh;
}

#page-4  {
	background: #FFD86D;
    height: 100vh;
}

#page-5  {
	background: #FFD86D;
    height: 100vh;
}

#page-6  {
	background: #FFD86D;
    height: 100vh;    
}

.page {
	width: 100%;
	box-shadow: 0 55px 75px rgba(0,0,0,.3);
	position: relative;
	overflow: hidden;
    background-color: #343a40;
}


.sp-fixed {
	position: fixed;
	top: 0;
	left: 0;
}

.wrap {
	z-index: 1;
	position: relative;
	top: 0;
}

.ex {
	color: #000;
	background: rgba(255,255,255,.5);
	margin: 0;
	width: 100%;
	position: fixed;
	z-index: -2;
}
/*
// =================================
// ye olde styles
// =================================
*/

.index{
    width: 80vw;
    height: 80vh;
    align-self: center;
}

table{
    padding: 0px;
    max-width: 80wv;
}

.tindex{
    width: 80vw;
    height: 80vh;    
}

.tleft{
    max-width: 40px !important;
    text-align: left;   
}

.tright{
    max-width: 40px !important;
    text-align: right;
}

.ttop, .tbottom{
    width: 75vw;
    height: 40px;
}

.tmiddle{
    width: auto;
    height: auto;
    border: 3px white solid;
    text-align: center;
}

.gallery-link{
    color: #000;
    font-family: 'fir', 'zal', 'Merriweather', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

.cat-link{
    color: #000;
    font-family: 'fir', 'zal', 'Merriweather', serif;
}

.about-link{
    color: #000;
    font-family: 'fir', 'zal', 'Merriweather', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%) rotate(90deg);
    white-space: nowrap;
}

.buy-link{
    color: #000;
    font-family: 'fir', 'zal', 'Merriweather', serif;
    font-size: 36px;
    position: relative;
    transform-origin: top center;
    top: 0px;
}

.whitesquare{
    border: 4px solid white;
}

.logo{
    max-height: 50vh;
    max-width: 60vw;
}

